* {
    outline: none;
}

.main-top {
    margin-top: 40px;
}

.navbar {
    border-bottom: 1px solid #bbbaba;
}

h1 {
    padding: 20px 0;
    border-bottom: 1px solid #f4f4f2;
}

.loading {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}